
<!--## 사이드바상자1 : 왼쪽 사이드바 영역 -->
<div id="sidebarBox1"  class="sidebarBox sidebarBoxV home-[##_var_home_sidebar1_##] fold close-onclick-outside"><!-- 클래스 초기상태: 모두 접힘 -->
  <aside id="sidebar1" class="sidebar sidebarV"><s_sidebar>
{% with
  sidebaritems=[
    {
      'id': 'categories',
      'name': '카테고리',
      'bubbleBtn': '&#x1F4C1;',
      'hascaption': False,
    },
    {
      'id': 'randomtags',
      'name': '랜덤태그',
      'bubbleBtn': '&#x2601;&#xFE0F;',
    },
  ]
%}
{% for sidebaritem in sidebaritems %}
  {% include "skin-comps/sidebars/elements/" + sidebaritem.id + ".html" %}
{% endfor %}
{% endwith %}
  </s_sidebar></aside>
  <div id="sidebarBtnBox1">
    <button class="sidebarBtn open-toggleBtn thickBtn" data-opentarget="sidebarBox1">≡</button><!-- 펼접버튼 -->
  </div>
</div><!-- 사이드바상자1 ##-->