@charset "utf-8";

/* Web Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@import url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css');

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


html {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
}
@media (max-width: 1215px) {
  html {font-size: 17.5px;}
@media (max-width: 1130px) {
  html {font-size: 17px;}
@media (max-width: 1045px) {
  html {font-size: 16.5px;}
@media (max-width: 960px) {
  html {font-size: 16px;}
@media (max-width: 875px) {
  html {font-size: 15.5px;}
@media (max-width: 790px) {
  html {font-size: 15px;}
@media (max-width: 705px) {
  html {font-size: 14.5px;}
@media (max-width: 620px) {
  html {font-size: 14px;}
}}}}}}}}

body {
  position: relative;

  width: 100%;
  min-width: 350px;
  max-width: 100vw;

  background-color: #FFFFFF;
  background-color: var(--backCol);
  color: #666666;
  color: var(--baseTextCol);
}
@media screen {
  body.world2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
body > * {
  position: relative;
}


*/*div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, figure, p, button */{
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  border-color: #DDDDDD;
  border-color: var(--borderCol);
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
  overflow: visible;
  cursor: pointer;
  line-height: 1;
}
label {
  word-break: keep-all;
}
button, input, textarea {
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}
button {
  color: inherit;
}
ol , ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover , a:hover * {
  text-decoration: underline;
}
b {
  font-weight: bold;
}
small {
  font-size: 0.8em;
  color: grey;
}
strong {
  font-size: 110%;
  font-weight: bold;
}
dfn {
  font-style: inherit;
}
pre , code {
  font-family: 'D2Coding', consolas, monospace;
  word-break: keep-all;
}
::selection {/* 커서로 긁은 부분 텍스트 색 */
  color: black;
  text-shadow: none;
  background-color: #F0FF40;
  background-color: var(--highlight);
}

body:not(.login-owner) .onlyForOwner {
  display: none !important;
}
body:not(#tt-body-index) .onlyOnPage-index {
  display: none !important;
}
body:not(#tt-body-page) .onlyOnPage-page {
  display: none !important;
}

/* 숨김 */
.hidden {
  display: none !important;
}
/* 텍스트 */
._textCenter {
  text-align: center;
}
._textRight {
  text-align: right;
}
._textLeft {
  text-align: left;
}
._fontLarger {
  font-size: 120%;
}
._fontSmaller {
  font-size: 80%;
}
._fontBold {
  font-weight: bold;
}
/* 글자색 */
.red        { color:            #d04 }
.redBack    { background-color: #d044 }
.yellow     { color:            #a80 }
.yellowBack { background-color: #a804 }
.green      { color:            #2a0 }
.greenBack  { background-color: #2a04 }
.blue       { color:            #07e }
.blueBack   { background-color: #07e4 }
.purple     { color:            #93f }
.purpleBack { background-color: #81f4 }
.grey       { color:            #888 }
.bold       { font-weight:      bold; }

._backCol {
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
._backColSlightly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 25%;
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
._textShadowBackcol {
  text-shadow:
    1px 1px 0px #FFFFFF;
  text-shadow:
    1px 1px 0   var(--backCol),
    2px 2px 0   var(--backCol),
    0   0   5px var(--backCol);
}
.pageTitle {
  margin: 80px auto;
  font-family: 'Noto Serif KR', serif;
  font-size: 250%;
  font-weight: 600;
  letter-spacing: 0.16em;
  color: #000000;
  color: var(--bonmunTextCol);
  text-align: center;
}
body.theme-light .pageTitle {
  text-shadow:
    2px 0 5px white,
    -2px 0 5px white,
    0 2px 5px white,
    0 -2px 5px white,
    2px 1px 0 white;
}
body.theme-dark .pageTitle {
  text-shadow:
    1.5px 0 0 #0008,
    -1.5px 0 0 #0008,
    0 1.5px 0 #0008,
    0 -1.5px 0 #0008,
    0 0 7px black,
    0 0 20px black;
}

.sectionTitle {
  text-align: right;
  font-family: 'Noto Serif KR', serif;
  font-size: 180%;
  letter-spacing: 0.12em;
}
.sectionTitle span {
  border-bottom-width: 10px;
}

.areaTitle {
  font-family: 'Noto Serif KR', serif;
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 0.2em;
}

body.theme-dark hr.areaSeparator {
  margin: 100px auto;
  width: 10px;
  height: 10px;
  background-color: var(--pointCol);
  transform: rotate(45deg);
}
body.theme-light hr.areaSeparator {
  margin: 97px auto;
  width: 10px;
  height: 10px;
  border: 3px solid currentColor;
  background-color: #FFF8;
  transform: rotate(45deg);
}

.thickBtn {
  border-width: 1px;
  border-radius: 8px;
  background-color: #111144;
  background-color: var(--frameBack);
  color: #FFFFFF;
  color: var(--frameFore);
  font-family: 'Jua', sans-serif;
  transition: background-color 0.5s;
  line-height: 1;
}
body.theme-light .thickBtn {
  border-color: #0000;
}
body.theme-dark .thickBtn {
  border-color: 1px solid #FFFFFF;
  border-color: 1px solid var(--frameFore);
}
.thickBtn:hover {
  background-color: #F0FF40;
  background-color: var(--highlight);
  color: black;
  transition: background-color 0s;
}
.thickInput {
  padding: 5px;
  border-radius: 4px;
  border-bottom: 7px solid #111144;
  border-bottom: 7px solid var(--frameBack);
  background-color: #F4F4F4;
  background-color: var(--listBack);
}
.softBtn {
  border-radius: 6px;
  border-width: 3px;
  background-color: var(--listBack);
}
.softBtn:hover {
  color: var(--listBack);
  background-color: var(--baseTextCol);
}
.softInput {
  padding: 0 3px;
  border-radius: 4px;
  border-bottom: 3px solid #DDDDDD;
  border-bottom: 3px solid var(--borderCol);
  border-top: 3px solid #DDDDDD;
  border-top: 3px solid var(--borderCol);
  background-color: #F4F4F4;
  background-color: var(--listBack);
}

.decoBox {
  z-index: 10;
}
.tape {
  position: absolute;
  display: block;
  background-color: #fff4;
  border: 1px solid #0003;
  pointer-events: none;
}

.noticeBoxStyle {
  margin-left: auto;
  max-width: 800px;
  padding: 20px 60px 20px 20px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  text-align: right;
}
.recentNotice .pushpin {
  position: absolute;
  top: -14px;
  right: 15px;
}

.searchword {/* 검색어 강조 */
  background-color: #F0FF40;
  background-color: var(--highlight);
  color: black;
  text-shadow: none;
}

.blogger::before {
  content: "\269C\FE0F ";/*⚜️*/
}
@media print {

#totopBox ,
.sidebarBox ,
.sidebar ,
#upperbar ,
#recentNotice ,
#recentNotice-home ,
#world2 ,
.revenue_unit_wrap {
  display: none !important;
}

#mainHBox {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body > * {
  z-index: 1;/* 왜지???? 배경요소랑 다른 애들이랑 z-index 값 다 똑같이 0으로 하면 2페이지부터 배경이 다른 애들을 가리고, 1 이상 하면 정상임. 상대값만 중요한 게 아니야???? */
}

html {
  background-color: var(--backCol) !important;
}

}




/**# 전체
body
├헤더 header ─ a
├헤더아래에 블로그 메뉴랑 검색 버튼
├세로메인 div#mainV
├사이드바3 div#sidebar3.sidebarH
└푸터 footer
*/
/* 배경 그림 */
#backImgBox .backImg {
  width: 100%;
  height: 100vh;
  position: fixed;
}
body:not(.theme-light) .backImg.light {
  display: none;
}
body:not(.theme-dark) .backImg.dark {
  display: none;
}
#backImgBox .backImg.cover {
  background-position: center;
  background-size: cover;
}
#backImgBox .backImg.stretch {
  background-size: 100vw 100vh;
}
#backImgBox .backImg.pos_1 {
  background-position: top left;
}
#backImgBox .backImg.pos_2 {
  background-position: top center;
}
#backImgBox .backImg.pos_3 {
  background-position: top right;
}
#backImgBox .backImg.pos_4 {
  background-position: center left;
}
#backImgBox .backImg.pos_5 {
  background-position: center;
}
#backImgBox .backImg.pos_6 {
  background-position: center right;
}
#backImgBox .backImg.pos_7 {
  background-position: bottom left;
}
#backImgBox .backImg.pos_8 {
  background-position: bottom center;
}
#backImgBox .backImg.pos_9 {
  background-position: bottom right;
}
#backImgBox .backImg {
  background-repeat: no-repeat;
}
#backImgBox .backImg.repeat_x {
  background-repeat: repeat-x;
}
#backImgBox .backImg.repeat_y {
  background-repeat: repeat-y;
}
#backImgBox .backImg.repeat_x.repeat_y {
  background-repeat: repeat;
}
#backImgBox .backImg.fit {
  background-size: auto 100%;
}
@media (max-aspect-ratio: 1/1) {
  #backImgBox .backImg.fit {
    background-size: 100% auto;
  }
}
#backImgBox .backImg.scroll {
  background-size: 0;
}
body:not(.world2) #world2 {
  display: none;
}
body.world2 #world2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  backdrop-filter: blur(4px);
  text-align: center;
  background-color: #000b;
  color: white;
  font-size: 125%;
}

#world2 > .upperbar > .close {
  position: absolute;
  right: 2%;
  padding: 10px;
  font-size: 180%;
}
#world2 > .upperbar > .pageTitle {
  margin: 0;
  padding: 20px;
  font-size: 120%;
  text-shadow: unset;
  color: inherit;
}
#world2 > .upperbar > .pageTitle::before ,
#world2 > .upperbar > .pageTitle::after {
  content: ' ◆ ';
  vertical-align: middle;
  font-size: 60%;
  color: var(--pointCol);
}


#world2 > .content {
  position: absolute;
  top: 8%;
  left: 2%;
  box-sizing: border-box;
  width: 96%;
  height: 90%;
  overflow-y: auto;
  padding: 40px 0 10px 0;
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
#world2 > .content::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}
#world2 > .content > * {
  margin-bottom: 100px;
}

#blogSearchInput ,
#tagSearchInput {
  padding: 4px 8px;
  border-bottom: 4px solid white;
  border-radius: 5px;
  background-color: #3338;
  text-align: right;
  font-size: 120%;
}

#blogSearch {
  padding: 10px 0;
}
#blogSearchInput {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
}

#tagSearchInput {
  width: 300px;
}
#tagSearch .areaTitle {
  margin-bottom: 20px;
  font-size: 110%;
}
#tagSearch .result:not(.fetched) .tagBoxBox {
  display: none;
}
#tagSearch .tagcloud::before {
  content: '#';
  color: grey;
}
#tagSearch .tagcloud::after {
  font-size: 60%;
  color: grey;
}
#tagSearch .tagcloud1::after {  content: '★★★';  color: var(--highlight);}
#tagSearch .tagcloud2::after {  content: '★★';}
#tagSearch .tagcloud3::after {  content: '★';}
#tagSearch .tagcloud4::after {  content: '☆';}
#tagSearch .searchResult {
  margin: 0 auto 30px auto;
  max-width: 300px;
  text-align: left;
}
#tagSearch .searchResult .tagcloud {
  margin: 8px 0;
  display: block;
}
#tagSearch .tagBox-pop .tagcloud {
  margin: 5px 8px;
  display: inline-block;
  position: relative;
}
#tagSearch .tagBox-pop .tagcloud::after {
  display: block;
}
#tagSearch .searchResult > hr {
  border-top: 1px dotted grey;
}
#tagSearch > .result .match {
  font-weight: bold;
  color: #F0FF40;
  color: var(--highlight);
}

#tagSearch > .toTagPage {
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
  padding: 5px;
  text-align: center;
  border-width: 1px;
}

#catsInWorld2 > .areaTitle::before ,
#catsInWorld2 > .areaTitle::after {
  content: ' ▼ ';
  color: var(--pointCol);
  font-size: 60%;
}
#catsInWorld2:not(.open) > .areaTitle::before {
  content: '▷ ';
}
#catsInWorld2:not(.open) > .areaTitle::after {
  content: ' ◁';
}
#catsInWorld2 > .areaTitle + * {
  margin-top: 12px;
}
#catsInWorld2:not(.open) > div {
  display: none;
}
#catsInWorld2 li {
  margin: 5px 0;
}
#catsInWorld2 .category_list {
  margin: 12px auto;
  width: 94%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#catsInWorld2 .category_list > * {
  margin: 3px;
  display: inline-block;
  vertical-align: top;
}
#catsInWorld2 .link_item {/* 상위 */
  display: block;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #eee;
  font-weight: 600;
  color: black;
}
#catsInWorld2 .sub_category_list {
  list-style: disc;
  text-align: left;
}
#catsInWorld2 .sub_category_list > li {
  margin-left: 32px;
}
#catsInWorld2 .c_cnt {
  font-size: 72%;
}
/**# 헤더, 푸터 */
header {
  margin-right: 2%;
  border-bottom-right-radius: 50px;
  text-align: center;
  background-color: #111144;
  background-color: var(--frameBack);
  color: #FFFFFF;
  color: var(--frameFore);
}
header .title {
  font-family: 'Jua', sans-serif;
  font-weight: inherit;
}
header .blogger {
  font-family: 'Noto Serif KR', serif;
}

body#tt-body-index header > .alt {
  display: none;
}
body:not(#tt-body-index) header > .namecard {
  display: none;
}

header > .alt {
  display: block;
  padding: 30px 10%;
}

header > .namecard {
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
  max-width: 760px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

header > .namecard .box1 {
  margin: auto;
  padding: 10px;
}

header > .namecard .imgBox {
  position: relative;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background: conic-gradient(#f0f, #f22, #f80, #ff0, #0f0, #0ff, #08f, #22f, #80f, #f0f);
}
header > .namecard .blogImgBack {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: currentColor;
}
header > .namecard .blogImg {
  position: absolute;
  top: 6px;
  left: 6px;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
}

header > .namecard .box1 {
  flex-grow: 0;
}
header > .namecard .box2 {
  flex-grow: 1;
  max-width: 500px;
  margin: 0 auto;
}

header > .namecard .box2 > * {
  margin: 9px;
}

header > .namecard .blogLinks {
  padding-left: 20%;
  font-family: 'D2Coding', consolas, monospace;
}
header > .namecard .blogLinks > * {
  margin: 8px 6px;
}
header > .namecard .blogLinks a {
  display: inline-block;
}
header > .namecard .blogLinks img {
  height: 1.2em;
  vertical-align: text-bottom;
  margin-right: 0.2em;
}
#upperbar {
  padding-left: 30px;
  padding-right: 7%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}
#upperbar :not(script) {
  display: inline-block;
}

#blogMenu > ul > * {
  margin: 0 5px 5px 0;
  vertical-align: top;
}
#blogMenu a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 4px 10px;
}
body.theme-light #blogMenu > ul > * > a {
  border-color: transparent;
}
#blogMenu > ul > :nth-child(6n) > a {
  background-color: hsl(30, 100%, 50%, 20%);
  border-color:     hsl(30, 100%, 50%, 50%);
}
#blogMenu > ul > :nth-child(6n+5) > a {
  background-color: hsl(60, 100%, 40%, 20%);
  border-color:     hsl(60, 100%, 40%, 50%);
}
#blogMenu > ul > :nth-child(6n+4) > a {
  background-color: hsl(110, 90%, 45%, 20%);
  border-color:     hsl(110, 90%, 45%, 50%);
}
#blogMenu > ul > :nth-child(6n+3) > a {
  background-color: hsl(200, 100%, 50%, 20%);
  border-color:     hsl(200, 100%, 50%, 50%);
}
#blogMenu > ul > :nth-child(6n+2) > a {
  background-color: hsl(265, 100%, 70%, 20%);
  border-color:     hsl(265, 100%, 70%, 50%);
}
#blogMenu > ul > :nth-child(6n+1) > a {
  background-color: hsl(315, 90%, 50%, 20%);
  border-color:     hsl(315, 90%, 50%, 50%);
}

#world2-openBtn {
  padding: 0px 6px;
}
footer {
  border-top-width: 9px;
  border-top-style: double;
  padding: 60px 6% 20px 6%;
  font-size: 90%;
}
footer .sectionTitle {
  margin-bottom: 52px;
}

#footerContentBox {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#footerContentBox > * {
  width: 260px;
  margin: 10px 10px 30px auto;
  padding: 20px 10px;
}
#footerContentBox > * > .areaTitle {
  border-right-width: 6px;
  padding-right: 8px;
  text-align: right;
}
#footerContentBox > * > hr {
  border-top-width: 1px;
  margin: 20px 0 30px 0;
}
#footerContentBox > * > .content {
  text-align: left;
}

#footerContentBox > .nuguisho > .content {
  min-height: 100px;
  line-height: 1.6;
}
#footerContentBox > .nuguisho .blogImg {
  width: 2.8em;
  height: 2.8em;
  margin: 0.1em 8px 0.1em 0.1em;
  border-radius: 50%;
  float: left;
}
#footerContentBox > .nuguisho .bloggerBox {
  margin-bottom: 10px;
}
#footerContentBox > .nuguisho .bloggerBox .name {
  font-family: 'Noto Serif KR', serif;
}
#footerContentBox > .nuguisho .desc {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
#footerContentBox > .links ul {
  padding: 0 16px;
}
#footerContentBox > .links li {
  margin: 10px 0;
}
#footerContentBox > .links img {
  width: 2em;
  height: 2em;
  vertical-align: bottom;
  margin-right: 5px;
}

footer > .etc {
  border-top-width: 1px;
  margin-top: 30px;
}
footer > .etc > * {
  margin: 20px 0;
}

/**# 세로중앙
세로중앙 div#mainV
│
├사이드바상자1 div#sidebarBox1.sidebarBox.sidebarBoxV
│├사이드바1 aside#sidebar1.sidebar.sidebarV
│└펼접버튼 button.sidebarBtn
│
├가로메인상자 div#mainHBox
│└가로메인 div#mainH
│　├최근공지 div#recentNotice
│　├메인 main#main
│　│└(페이지마다 다른 내용물들)
│　├페이징
│　└하단잡영역 div#under
│
└사이드바상자2 div#sidebarBox2.sidebarBox.sidebarBoxV
　├사이드바2 aside#sidebar2.sidebar.sidebarV
　└사이드바2리모콘 div#sidebar2Remocon
*/
#mainV {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}
#mainH {
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (max-width: 500px) {
  body#tt-body-category #mainH ,
  body#tt-body-page #mainH {
    overflow-x: hidden;/* decoBox의 기울임때문에 조금 삐져나감 */
  }
}
body#tt-body-index .home-none-1 {/* 홈화면에서 숨기기 옵션 */
  display: none;
}

/* 최근공지 */
#homecover .recentNotice {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
#homecover .recentNotice ul {
  list-style: none;
}
#homecover .recentNotice li {
  margin: 10px 0;
  list-style: none;
}

.homecoverSection {
  margin: 125px 0;
}
.homecoverSection .sectionTitle {
  max-width: 900px;
  margin: 0 auto 52px auto;
  padding: 0 1.5%;
}
.homecoverSection:first-child {
  margin-top: 20px;
}

  .homecover.menubar {
  padding: 0 2.5%;
  border-bottom: 6px solid #111144;
  border-bottom: 6px solid var(--frameBack);
}
.homecover.menubar * {
  display: inline-block;
}

.homecover.menubar > nav a {
  padding: 4px 8px;
  font-family: 'Jua', sans-serif;
  font-size: 135%;
}

  .homecoverSection.train .postList > * {
  margin: 80px auto;
  max-width: 900px;
  position: relative;
  backdrop-filter: blur(4px);
}
.homecoverSection.train .postList > *:first-child {
  margin-top: 0;
}
.homecoverSection.train .postList > * > a {
  padding: 45px 3% 40px 3%;
  border-width: 1px;
  box-shadow: 0px 0px 10px #0002;
}
.homecoverSection.train .postList > * > a:hover {
  box-shadow: 0px 0px 10px #0004;
}
.homecoverSection.train .postListItem > .itemHead {/* 제목등 */
  margin-bottom: 35px;
}
.homecoverSection.train .title {/* 제목 */
  display: block;
  padding: 0 7%;
  font-size: 1.8em;
  letter-spacing: 0.06em;
  font-family: 'Noto Serif KR', serif;
}
.homecoverSection.train .postListItem > .itemBody {/* 본문등 */
  max-height: 6.4em;/* 본문 크기 제한 */
  overflow: hidden;
}
.homecoverSection.train .content {/* 본문 */
  line-height: 1.6;
  font-size: 1.1em;
}
.homecoverSection.train .date {/* 날짜등 */
  font-family: 'Gaegu', cursive;
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.homecoverSection.train > .more {
  display: block;
  margin: 80px auto;
  box-sizing: border-box;
  max-width: 900px;
  padding: 20px 3%;
  border-width: 1px;
  text-align: center;
  background-color: #FFFFFF;
  background-color: var(--backCol);
}

  

  

  


/* ## 사이드바 */
/*
사이드바1, 사이드바2 의 상태
- 접힘 .fold
- 펼침 .fold.open
- 열림 .flat
화면이 좁으면 접힘. 화면이 넓으면 열림.
접힘 상태에서 사용자 동작에 따라 펼침-접힘 상태 전환.
html 파일에서 스크립트로 클래스를 조작; css에서는 클래스에 따라 스타일링.
*/
.sidebarBox.fold .sidebar ,
.sidebar:hover ,
#sidebar3 {
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
.sidebarBox:hover ,
.sidebarBox.open ,
.sidebarBox.fold {
  z-index: 30;
  overflow: visible;
}
.sidebarBox ,
.sidebar {
  scrollbar-width: none;/* Firefox 스크롤바 숨기기 */
}
.sidebarBox::-webkit-scrollbar ,
.sidebar::-webkit-scrollbar {/* Chrome, Edge 등 스크롤바 숨기기 */
  display: none;
}

/**### 사이드바1 */
#sidebarBox1 {
  left: -304px;/* 사이드바너비 + 경계선 */
  border-right-width: 4px;
  border-right-style: double;
  transition: left 0.16s ease-out;
}
#sidebarBox1.flat {
  transition: none;
}
#sidebarBox1.open ,
#sidebarBox1.flat {
  left: 0px;
}

#sidebarBtnBox1 {
  position: absolute;
  top: 0;
  right: -30px;
  box-sizing: border-box;
  height: 100%;
  padding: 5vh 0 10px 0;
  transition: right 0.3s;
  pointer-events: none;/* 컨테이너는 투명배경이므로 클릭 무시 */
}
#sidebarBox1.fold:not(.open) > #sidebarBtnBox1.hideByScrolling {
  right: 0px;
}
#sidebarBox1.flat > #sidebarBtnBox1 {
  display: none;
}
#sidebarBtnBox1 .sidebarBtn {
  position: fixed;/* 호환 */
  position: sticky;
  display: block;
  width: 30px;
  height: 50px;
  transition: left 0.12s ease-out, right 0.12s ease-out;
  top: 5vh;
  border-radius: 0 12px 12px 0;
  border-left-width: 0;
  pointer-events: auto;
}
#sidebarBox1.open .sidebarBtn {/* >>thickBtn:hover */
  left: 300px;
  background-color: #F0FF40;
  background-color: var(--highlight);
  color: black;
}

#sidebar1 {
  text-align: center;
}
#sidebar1 > :first-child {
  margin-top: 20px;
}
#sidebar1 > * {
  margin-bottom: 50px;/* 내부 모듈들 사이 여백 */
}
/**### 사이드바2 */
#sidebarBox2 {
  pointer-events: none;/* 컨테이너는 투명배경이므로 클릭 무시 */
}
#sidebarBox2 > * {
  pointer-events: auto;
}
/* 넓은 화면: 펴진채 */
#sidebarBox2.sidebarBoxV {
  right: 0px;
}
#sidebarBox2.flat {
  overflow: visible;
}
#sidebarBox2.flat > #sidebar2Remocon {
  display: none;
}
/* 좁은화면: 작은 단추만으로 표현. 단추를 누르면 모달창에 해당 요소만 표시. */
/*
사이드바2리모콘 #sidebar2Remocon : 축소된 사이드바2의 각 아이템을 여닫는 버튼들 모음.
html 파일에서 버튼은 각 사이드바아이템 안에 있지만 스크립트를 이용해서 그 중에 사이드바2의 것만 여기로 모아오고 나머진 삭제.
*/
#sidebarBox2.flat {
  right: 0px;
}
#sidebarBox2.fold {
  position: fixed;/* 호환 */
  position: sticky;
  bottom: 0px;
  right: 0;
  z-index: 20;
  margin-left: auto;
  width: 50%;
  min-width: 350px;
  max-height: 60vh;
  overflow: scroll;
  text-align: right;
}
#sidebarBox2.fold > #sidebar2 {
  position: relative;
  margin: 20px 23px 10px auto;
  height: unset;
  width: 300px;
  border-width: 2px;
  border-radius: 8px;
  padding: 10px 0px;
  box-shadow: 0px 0px 20px #0004;
  background-color: #FFFFFF;
  background-color: var(--backCol);
  overflow: scroll;
}
#sidebarBox2.fold:not(.open) #sidebar2 {
  display: none;
}
#sidebarBox2.fold > #sidebar2 > * {
  margin-bottom: 0;
}
#sidebarBox2.fold > #sidebar2 > *:not(.open) {
  display: none;
}
#sidebarBox2.fold #sidebar2Remocon .bubbleBtn {
  display: inline-block;
  padding: 6px 10px;
}
#sidebarBox2.fold #sidebar2Remocon {
  position: fixed;/*호환*/
  position: sticky;/* 펼접 상태에서 폈을 때 아이템이 길어도 버튼은 항상 그자리 */
  display: inline-block;
  bottom: 0px;
  right: 0px;
  z-index: 20;
  padding-right: 14px;
  transition: transform 0.3s;
}
#sidebarBox2.fold:not(.open) #sidebar2Remocon.hideByScrolling {
  transform: translate(0, 100%);
}
#sidebarBox2.fold #sidebar2Remocon > * {
  margin: 0 6px 6px 0;
}
@media (max-width: 800px) {/* 걍 적당히 잡은 크기 */
  #sidebar2Remocon > * {
    margin: 5px 0 0 5px;
  }
}
/* 가로로 길면 사이드바2 세로길이 꽉참 */
@media (min-aspect-ratio: 2/1) {
  #sidebarBox2.fold {
    max-height: 100vh;
  }
}

#sidebar2 {
  text-align: center;
}
#sidebarBox2.flat #sidebar2 > :first-child {
  margin-top: 50px;
}
#sidebar2 > * {
  margin-bottom: 80px;/* 내부 모듈들 사이 여백 */
}
/**### 세로 사이드바 스크롤 */
/* 사이드바1은 항상; 사이드바2는 flat 상태만 해당 */
.sidebarBoxV {
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
}
.sidebarBoxV.flat ,
.sidebarBoxV.open {
  position: absolute;
  overflow: visible;/* visible이어야 자식에서 sticky 적용 됨  */
}
.sidebarV {
  position: fixed;
  position: sticky;
  top: 0px;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}
.sidebarV > * {
  display: block;/* 세로로 쌓기 */
}
.sidebarBoxV:hover .sidebarV {
  overflow: auto;
}
/**### 사이드바3 */
#sidebar3 {
  border-top-style: double;
  border-top-width: 5px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
#sidebar3 > * {
  display: inline-block;
  margin: 30px 2px;
  padding: 10px;
  vertical-align: top;
  border-radius: 8px;
  box-shadow: inset 0px 0px 20px var(--listBack);
}
#sidebar3 .revenue_unit_wrap {
  border-width: 2px;
}



/**### 사이드바아이템 - 공통
사이드바 div.sidebar
├사이드바아이템 div.sidebar_element.각자
│├X 버블버튼(optional) button.bubbleBtn html 파일에는 이렇게 돼있지만 스크립트를 이용해서 다른 곳으로 수거해감.
│├사이드바아이템본체 div.sidebar_elementMain.각자
│└캡션(optional) span.caption
...
*/
.sidebar > * {
  width: 300px;
}
.sidebar .caption {/* ▴ figure 0: blahblah 이거 */
  display: block;
  text-align: center;
  font-family: 'Gaegu', cursive;
  margin-top: 12px;
  font-size: 0.8em;
}
.sidebar .caption .semo {
  color: #FF6644;
  color: var(--pointCol);
}
.sidebar .bubbleBtn {
  display: none;
}
.sidebar .padding {
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar .strong {
  color: #FF6644;
  color: var(--pointCol);
  font-size: 150%;
  font-weight: bold;
}
.sidebar .line-out {
  margin: 6px auto;
}
.sidebar .line-in {
  display: block;
  border-bottom-width: 1px;
  padding: 3px 12px;

  /* 긴 것을 '…'로 줄임' */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/**### 사이드바아이템 - 카테고리
카테고리 nav#navCat
└카테고리 ul.tt_category ─ li
　├분류전체보기 a.link_tit
　└상위카테고리 ul.category_list ─ li 여럿
　　├해당 a.link_item
　　└하위카테고리 ul.sub_category_list (없으면 없음) ─ li ─ a.link_sub_item
*/
#navCat {
  text-align: left;/* 왼쪽정렬 */
  padding: 0;
}
#navCat .tt_category li {
  position: relative;
  padding: 9px 0 0 0;
}
#navCat .sub_category_list > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  height: 100%;
  border-left: 3px double var(--borderCol);
}
#navCat .tt_category .newA ,
#navCat .tt_category a {
  display: block;
  border-bottom-width: 1px;
  padding: 3px 12px;
  transition: background-color 0.5s;
}
#navCat .tt_category .newA:hover ,
#navCat .tt_category a:hover {
  background-color: #F0FF40;
  background-color: var(--highlight);
  color: black;
  font-weight: bold;
  transition-duration: 0s;
}
#navCat .sub_category_list > li > a {
  padding-left: 32px;
}
#navCat .category_list > li:not(.open) > .sub_category_list {
  display: none;
}
#navCat .newA::before {
  content: '\1F4C1';
}
#navCat li.open > .newA::before {
  content: '\1F4C2';
}
#navCat .c_cnt {
  vertical-align: bottom;
  font-size: 90%;
  font-family: 'Gaegu', cursive;
  color: grey;
}

/**### 목차 */
#bonmunHeadingList .num {
  font-weight: bold;
}
#bonmunHeadingList .numBlank {
  display: inline-block;
  height: 1em;
}
#bonmunHeadingList .numBlank2 {
  width: 0px;
}
#bonmunHeadingList .numBlank3 {
  width: 1em;
}
#bonmunHeadingList .numBlank4 {
  width: 2em;
}
#bonmunHeadingList .h2 .num {
  color: #FF6644;
  color: var(--pointCol);
}
#bonmunHeadingList .h4 {
  font-size: 0.8em;
}
#bonmunHeadingList .current {
  font-weight: bold;
  background-color: #F0FF40;
  background-color: var(--highlight);
  color: black;
}
/**### 사이드바아이템 - 랜덤태그 */
.randomtags .tagcloud::before {
  content: '#';
  color: #DDDDDD;
  color: var(--borderCol);
}
.randomtags .tagcloud {
  margin: 1px 3px;
  display: inline-block;
}
.randomtags .tagcloud1 {font-size: 120%; font-weight: bold;
  color: #FF6644;
  color: var(--pointCol);
}
.randomtags .tagcloud2 {font-size: 120%; font-weight: bold;}
.randomtags .tagcloud3 {font-size: 120%; font-weight: bold;}
.randomtags .tagcloud4 {font-size: 100%;}
.randomtags .tagcloud5 {font-size: 75%;}
.randomtags .tagcloud1::after ,
.randomtags .tagcloud2::after {
  content: '★';
}
/* 설정 */
.sidebar_elementMain.settings > * {
  margin: 15px 8px;
}

.settingForm.darkmode .option {
  margin: 3px;
  padding: 2px;
  border-width: 2px;
  border-radius: 10px 4px 4px 4px;
  font-size: 120%;
}
.settingForm.darkmode .optionRadio {
  appearance: none;
}
.settingForm.darkmode .optionRadio::before {
  content: '\2713';
}
.settingForm.darkmode .optionRadio:checked {
  color: var(--pointCol);
  font-size: 150%;
  font-weight: bold;
}

.fontsizeBtn {
  padding: 4px;
}
.sidebar_elementMain.calendar table {
  border-collapse: collapse;
}
.sidebar_elementMain.calendar caption ,
.sidebar_elementMain.calendar thead ,
.sidebar_elementMain.calendar tbody {
  border-bottom: 1px solid var(--borderCol);
}

.sidebar_elementMain.calendar caption a:nth-child(2) {
  font-family: 'Jua', sans-serif;
}

.sidebar_elementMain.calendar thead {
  background-color: #F4F4F4;
  background-color: var(--listBack);
}

.cal_click {/* 포스팅이 있는 날짜 */
  font-weight: bold;
  font-family: 'Jua', sans-serif;
  color: #FF6644;
  color: var(--pointCol);
}
body:not(#tt-body-archive) .cal_day4 {/* 오늘 */
  padding: 2px 0;
  border-radius: 5px;
  background: #F0FF40;
  background: var(--highlight);
  color: black;
}
/* 인기글 최근글 최근댓글 */
.sidebar_elementMain.popularposts a::before {
  content: "hot";
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 60%;
  background-color: red;
  color: white;
  font-weight: bold;
}
.sidebar_elementMain.recentposts a::before {
  content: "new";
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 60%;
  background-color: orange;
  color: white;
  font-weight: bold;
}
.sidebar_elementMain.recentcomments a::before {
  content: "\1F4AC";
  font-size: 80%;
}

/* 티스토리 플러그인 - 이미지 배너 */
.module_plugin > a > img {
  width: 300px;
  border-radius: 8px;
}



/**### 최근공지 목록 */
#recentNotice {
  padding: 20px 10px 20px 10px;
}
#recentNoticeListBox {
  margin-left: auto;
}
#recentNoticeListBox > ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#recentNoticeListBox li {
  opacity: 1%;
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  transition: top 1s ease, opacity 1s linear;/* 이건 진짜 버그가 맞다. 항목이 아래에서 등장하는 애니메이션의 구현을 animation을 이용한 것, transition을 이용하여 javascript에서 클래스 부여, javascript에서 직접 스타일 변경(꼭지점만)을 다 시도해봐도 첫 프레임이 목록 아래가 아니라 중간에서 순간 번쩍이는 게 시발 절대 안 사라진다고 그래서 투명도를 추가함. 투명한 상태에서 나와도 안 보이니까. */
  /* 긴 것을 '…'로 줄임' */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#recentNoticeListBox li.prev {
  opacity: 1%;
  top: -100%;
}
#recentNoticeListBox li.curr {
  opacity: 100%;
  position: relative;
  top: 0%;
}
.recentNotice li .prefix {
  font-weight: 650;
  color: #FF6644;
  color: var(--pointCol);
}

/**### 페이징
페이징상자 div.paging
├이전 a.no-more-prev 혹은 클래스없음
├숫자 a.num 여럿
└다음 a.no-more-next 혹은 클래스없음
빡치게도, 다른 요소는 그거 하나 하자고 쓰자니 너무 거창한 것 같은 기분이 드는 채신기술 flex등을 안 쓰면 그런 설정 할 방법이 아예 없는데 button이랑 input 얘네만 지 알아서 안에 글자를 세로 가운데 정렬을 시키므로, a 안의 글자를 button 태그로 감쌈
*/
.paging {
  margin: 80px auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 900;
  font-family: 'Jua', sans-serif;
}
.paging > * {
  display: block;
  margin: 7px 5px;
}
.paging button {
  width: 36px;
  height: 36px;
}
.paging a:not([href]) > button {
  border-color: transparent;
  background-color: transparent;
  color: #666666;
  color: var(--baseTextCol);
}
.no-more-prev , .no-more-next {
  display: none !important;
}



/**### 메인 - 공통 */
#main4 {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: dashed;
  backdrop-filter: blur(4px);
}

.noticePost {
  margin: 10px auto;
  max-width: 800px;
}

/**### 메인 - 글보기 페이지 */
/*
main
├게시글 article#postPagePost
│
├[티스토리] 네임카드 div[data-tistory-react-app='Namecard']
│
├[티스토리]div#entry158Comment
│└댓글영역 div#commentSec
│
└관련글영역 div.relatedSec
*/
body#tt-body-page main .areaTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
/**#### 게시글
게시글 article#postPagePost
├헤더 div.head
│├제목상자 div.titleBox
││├썸네일 div.decoBox
││└제목 h1.title
│├정보 div.info
│└관리기능 div.func
│　├a 여럿
│　└hr
│
└본문 div.bonmun // 이 하위는 티스토리 자동생성 
　├div.contents_style.pmargin
　└등등
*/
#postPagePost .titleBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
#postPagePost .decoBox {/* 꾸밈상자 */
  width: 320px;
  padding: 10px;
  box-shadow: 1px 1px 3px #0008;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  transform: rotate(-5deg);
}
#postPagePost .titleBox .image {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
  box-sizing: border-box;
  border-width: 2px;
}
#postPagePost .tape {
  width: 100px; height: 30px;
  transform: rotate(-35deg);
}
#postPagePost .tape1 {top:    8px;   left: -27px;}
#postPagePost .tape2 {bottom: 8px;  right: -27px;}
#postPagePost .head {
  padding: 20px 0;
}
#postPagePost .title {/* 제목 */
  text-align: center;
}
#postPagePost .title:first-letter {/* 제목 첫글자 꾸밈  */
  font-size: 135%;
}
#postPagePost .info {/* 정보  */
  margin: 10px 5%;
  text-align: right;
}
#postPagePost .info > * {
  margin: 8px 0;
}
#postPagePost .info > .authorBox {
  font-family: 'Gaegu', cursive;
}
#postPagePost .info .date ,
#postPagePost .info .author {
  display: inline-block;
  font-size: 1rem;
  transform: translateY(-0.2em);
  font-family: 'Noto Sans KR', sans-serif;
}
#postPagePost .linkStr {
  font-family: 'D2Coding', consolas, monospace;
}
#postPagePost .tags a {
  display: inline-block;
  border-radius: 3px;
  padding: 1px 5px;
}
#postPagePost .tags a::before {
  content: '\266F';/*#*/
  color: #FF6644;
  color: var(--pointCol);
  font-weight: 900;
}
#postPagePost .func {/* 기능 */
  position: relative;
  bottom: -20px;
  z-index: 1;
  text-align: center;
}
#postPagePost .func > a {
  margin: 3px;
  padding: 10px;
  display: inline-block;
  position: relative;
}

/* rebellion 본문에 가까이붙지마라광고주제에. */
#postPagePost #main4 > .revenue_unit_wrap {/* 본문 상하단 */
  margin: 0 0 150px 0;
}
#postPagePost #main4 > .contents_style + .revenue_unit_wrap {/* 본문 하단 */
  margin: 150px 0 0 0;
}
/* rebellion 본문 밑에 공감 등 있는 그거 */
body .container_postbtn .postbtn_like {
  margin: 0 auto;
  border-radius: 6px;
  background-color: var(--backCol);
}
body .container_postbtn {
  padding: 0;
  transform: translateY(50%);
}


/**##### 본문 */
.bonmun {
  margin-bottom: 100px;
  padding: 50px 3% 0 3%;
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Noto Serif KR', serif;
  color: #000000;
  color: var(--bonmunTextCol);
}
/* a */
.bonmun a[target]::after {/* 외부 링크 (외부링크인 경우 새 페이지에서 열리게 target속성을 스크립트에서 조작함) */
  content: "\2934";
}
/* 여백 */
.pmargin > * {
  margin-top: 2em;
  margin-bottom: 2em;
}
.lessermargin > * ,
.pmargin > dl > div {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
/* 경계선 */
.bonmun hr {
  margin: 100px auto;
  width: 50%;
  border-top-width: 4px;
  border-top-style: dashed;
}
/* 소제목들 */
.pmargin .hn {
  font-size: 0.6em;
  font-family: 'Jua', sans-serif;
  font-weight: bold;
  color: #CCBBAA;
  color: var(--bonmunForm);
}
.pmargin > h2 , 
.pmargin > h3 , 
.pmargin > h4 , 
.pmargin > h5 , 
.pmargin > h6 /*(h1은 포스트 제목이라 본문엔 안 씀)*/{
  border-width: 0px;
  border-color: #111144;
  border-color: var(--frameBack);
}
.pmargin > h3 , 
.pmargin > h4 , 
.pmargin > h5 , 
.pmargin > h6 {
  font-family: 'Noto Sans KR', sans-serif;
}
/* 위 여백 */
.pmargin > h2:not(:first-child) { margin-top: 190px; }
.pmargin > h3:not(:first-child) { margin-top: 100px; }
.pmargin > h4:not(:first-child) { margin-top:  75px; }
.pmargin > h2 {/* H2: frameBack색 상자, */
  border-style: none;/* 테두리 없음 */
  border-radius: 10px;/* 부드러운 모서리 */
  background-color: #111144;/* 배경색 */
  background-color: var(--frameBack);
  color: #FFFFFF;/* 글자색 */
  color: var(--frameFore);
  text-align: center;/* 글자 가운데 */
  font-size: 179%;/* 글자 크기 */
  font-family: 'Noto Serif KR', serif;
  letter-spacing: 0.1em;
  padding: 3px;
}
.pmargin > h3 {/* H3: 굵은 밑줄, 텍스트 가운데 */
  border-bottom: 5px solid #111144;/* 밑줄 */
  border-bottom: 5px solid var(--frameBack);
  text-align: center;/* 글자 가운데 */
  font-size: 161%;/* 글자 크기 */
}
.pmargin > h4 {/* H4: 점선밑줄 */
  border-bottom: 3px dashed #111144;/* 밑줄 */
  border-bottom: 3px dashed var(--frameBack);
  font-size: 144%;/* 글자 크기 */
}
.pmargin > h5 {/* H5: 왼쪽 작은 장식 */
  margin-top: 52px;/* 위 여백 */
  border-left: 12px solid #111144;/* 왼쪽 장식 */
  border-left: 12px solid var(--frameBack);
  padding: 3px 0px 1px 12px;
  font-size: 118%;
}
.pmargin > h6 {/* H6 */
  margin-top: 40px;/* 위 여백 */
  font-size: 100%;
}
.pmargin > h6::before {/* H6 */
  content: '● ';
  color: #111144;
  color: var(--frameBack);
}
/* 표 */
.pmargin > table {
  margin: 0 auto;
}
.bonmun table {
  border-collapse: collapse;
  border-radius: 7px;
  box-shadow: 0px 2px 5px #0004;
  overflow: hidden;
  font-family: 'D2Coding', consolas, monospace;
}
.bonmun thead {
  background-color: #555;
  color: white;
}
.bonmun tbody > tr:nth-child(2n) {
  background-color: #F4F4F4;
  background-color: var(--listBack);
}
.bonmun th ,
.bonmun td {
  padding: 2px 8px;
}
.bonmun th:not(:last-child) ,
.bonmun td:not(:last-child) {
  border-right: 1px solid #DDDDDD;
  border-right: 1px solid var(--borderCol);
}
.bonmun tr:not(:last-child) {
  border-bottom: 1px dotted #DDDDDD;
  border-bottom: 1px dotted var(--borderCol);
}
/* 목록 */
.bonmun li {
  position: relative;
  margin-left: 27px;
  padding-left: 8px;
}
.bonmun ul {/* ul 마커 */
  list-style-type: '\2756';
}
.bonmun ul > li::marker {
  color: #CCBBAA;
  color: var(--bonmunForm);
}
.bonmun ol {/* ol 마커 */
  list-style-type: none;
}
.olliMarker {/* 순서있는 목록 스타일: 동글뱅이 숫자 … 원하는 옵션이 css에 없어서 걍 스크립트로 만듦 */
  /* 위치 */
  position: absolute;
  left: -1.2em;
  top: 0.55em;
  /* 크기 */
  font-size: 0.8em;
  width: 1.32em;/* 0.8의 역수..보다 쫌 큼 */
  height: 1.32em;
  border-radius: 50px;
  /* 내부 */
  font-family: 'Jua', sans-serif;
  background-color: #CCBBAA;
  background-color: var(--bonmunForm);
  color: #FFFFFF;
  color: var(--backCol);
  cursor: default;
}
.bonmun dt {
  font-family: 'Noto Sans KR', sans-serif;
}
.bonmun dd::before {
  content: '\270D\0020';
  color: var(--bonmunForm);
  font-weight: bold;
  margin-left: -23px;
}
.bonmun dd {
  margin-left: 27px;
}
/* 코드 */
body.theme-light .bonmun *:not(pre) > code {
  border: #ddd solid 1px;
  background-color: #ddd;
  color: black;
  padding: 1px 3px;
  border-radius: 4px;
}
body.theme-dark .bonmun *:not(pre) > code {
  border: #777 solid 1px;
  background-color: #333;
  color: white;
  padding: 1px 3px;
  border-radius: 4px;
}
div > dt {
  font-size: 105%;
  font-weight: bold;
}
li > dl > dd ,
li > dl > dt ,
.lineDl > div > * {
  display: inline;
}
/** 본문 커스텀 요소 ... TODO 이것도 html 편집 노가다 말고 걍 커스텀 문법으로 쓴 다음 스크립트로 자동으로 태그에 넣어주게 그래야 쓸만할 듯. */
/*이미지 가로크기 제한*/
.width700 {
  max-width: 700px;
  margin-right: auto;  margin-left: auto;
}
.width500 {
  max-width: 500px;
  margin-right: auto;  margin-left: auto;
}
.width300 {
  max-width: 300px;
  margin-right: auto;  margin-left: auto;
}
/* 숨김글귀 */
.hidingPhrase:not(:hover):not(.fixed) {/* 마우스 안 올리면 안 보임 */
  font-size: 0px;
}
.hidingPhrase:not(:hover):not(.fixed) * {
  display: none;
}
.hidingPhrase:not(.fixed)::before {/* 마우스 안 올려서 안 보이는 상태일 때 글귀 대신 보일 문자 */
  content: '\203B\0020';/*※ */
  font-size: 1rem;
}
/* 강조 상자 */
.definitionBox {
  padding: 30px 10px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  border: 2px solid #CCBBAA;
  border: 2px solid var(--bonmunForm);
}
.conclusionBox {
  padding: 30px 10px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  border: 2px dashed #CCBBAA;
  border: 2px dashed var(--bonmunForm);
}
.highlightBox {
  padding: 30px 10px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  border: 2px dotted #CCBBAA;
  border: 2px dotted var(--bonmunForm);
}
.codeResult {
  padding: 5px 5px;
  background-color: #ddd;
  color: black;
}
/* 배치 상자 */
.layoutBox_garo_exp {
  display: flex;
  flex-flow: row nowrap;
}
.layoutBox_garo_fit {
  display: flex;
  flex-flow: row nowrap;
}
/* 숨김상자 */
.hidingBox.open > .hidingPreview {/* 열린 상자의 미리보기 숨김 */
  display: none;
}
.hidingBox:not(.open) > .hiddenBox {/* 안 열린 상자의 숨은부분 숨김 */
  display: none;
}
.hidingPreview::before {/* 여기 숨김상자 있음을 표시 */
  content: '\00B6';/*¶*/
}
.hidingPreview {/* 미리보기는 눌러짐을 표시 */
  cursor: pointer;
}
/* 연관글 */
.linkBefore ,
.linkAfter ,
.linkRelated ,
.linkReference {
  width: 80%;
  margin-left: auto;
  display: block;
  padding: 10px;
  border-left: 60px solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  text-align: right;
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
.linkBefore    {border-left-color: #46f8}
.linkAfter     {border-left-color: #f468;}
.linkRelated   {border-left-color: #be08}
.linkReference {border-left-color: #aaa8}
.innerLink { display: none }
/* 코드 */
.pseudocode {
  text-align: left;
  padding: 8px;
  color: #333;
  background-color: #eee;
}
.littlecode {
  text-align: left;
  padding: 8px;
  color: #111;
  background-color: #eee;
}
/* 상호작용 강조색  */
.bonmun a ,/* 하이퍼링크 */
.hidingPreview::before ,/* 숨김상자 있음을 표시하는 문자 */
.hidingPostview ,/* 숨은상자가 있음을 표시하는 버튼 */
.hidingPhrase:not(:hover)::before {/* 마우스 안 올려서 안 보이는 상태일 때 글귀 대신 보일 문자 */
  color: #66AA00;
  color: var(--bonmunActing);
}
.bonmun a {
  transition: background-position 0.5s ease;
}

.bonmun a:hover ,
.bonmun a:hover * {
  animation: rainbowLink 1s linear infinite;
}
@keyframes rainbowLink {
 0% { color: #e44; }
 16% { color: #dd0; }
 33% { color: #4e4; }
 50% { color: #0dd; }
 66% { color: #44e; }
 83% { color: #d0d; } 
 100% { color: #e44; }
}

/* rebellion */

#tt-body-page .bonmun blockquote[data-ke-style="style1"] ,
.bonmun blockquote ,
.bonmun blockquote p {
  font-size: inherit;
  color: inherit;
}

/**#### 댓글 */
/*
댓글영역 div#commentSec
├"댓글" h1.areaTitle
├댓글목록 ul.commentList
├댓글없음안내 p.listMsg
├댓글입력폼 div.formBox
└댓글비허용안내 p.formMsg
*/
/*
댓글 목록 ul.commentList.comment1List ─ 댓글 li 여럿
│
├댓글 div.comment.comment1.스킨치환자가지정하는클래스
│├영역1 div.area1
││├프사 img.propic
││└닉네임 span.writer
││
│├영역2 div.area2
││└내용 span.content
││
│└영역3 div.area3
│　├날짜 span.date
│　├답글 button
│　└수정삭제 button
│
└답글목록 ul.commentList.comment2List ─ 답글 li 여럿
　└답글 div.comment.comment2
  ├장식 span.tape
  └…(그외에 댓글과 마찬가지)
*/
.comment1List {
  max-width: 800px;
  margin: 30px auto;
  padding: 14px;
}
.comment1List > * {
  margin-top: 30px;
  margin-bottom: 30px;
}
.comment2 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  margin-right: auto;
}
.comment {
  position: relative;
  border-width: 1px;
  padding: 6px 6px 2em 6px;
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
.comment.rp_secret ,
.comment.guest_secret {
  border-left-style: dashed;
}
.comment .tape {
  width: 30px;
  height: 45px;
  top: -24px;
  left: 65px;
  transform: rotate(-7deg);
  z-index: 1;
}
.commentList > li:nth-child(10n) .tape {
  left: 65px;
  transform: rotate(7deg);
}.comment1 > .areaImg img {
  transform: rotate(-5deg);
}
.comment2 > .areaImg img {
  transform: rotate(5deg);
}
.comment > .areaImg img {/* 프사 */
  vertical-align: middle;
  border-width: 1px;
}

.comment > .area1 {
  margin-left: 39px;
  padding: 0.4em 0;
  text-align: left;
}
.comment .writer {/* 글쓴이 */
  font-size: 85%;
  vertical-align: middle;
  font-family: 'Gaegu', cursive;
}
.guest_admin .writer {
  font-family: 'Noto Serif KR', serif;
}
.comment .writer > img {/* 티스토리 플러그인 - 블로그 아이콘 표시 */
  vertical-align: text-bottom;
}
.comment .area2 {/* 댓글 내용 */
  padding: 5px 10px;
  line-height: 1.4;
}

.comment .area3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.6em;
  padding-right: 10px;
  text-align: right;
}
.comment .area3 * {
  display: inline-block;
  vertical-align: bottom;
}
.comment .date {/* 날짜 */
  margin-right: 6px;
  font-size: 80%;
  font-family: 'Gaegu', cursive;
}
.comment .date > a {/* (티스토리 자동생성) 신고 버튼 */
  font-size: 120%;
  font-family: 'Jua', sans-serif;
}
.comment button {/* 버튼 */
  position: relative;
  top: 1px;
  height: 100%;
  margin: 0 0 0 8px;
  padding: 0 6px;

  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-radius: 5px 5px 0 0;
  background-color: var(--listBack);

  font-family: 'Jua', sans-serif;
}
.rp_admin .writer::before ,
.guest_admin .writer::before {
  content: '\269C\FE0F';/*왕관*/
}
.rp_secret .writer::before ,
.guest_secret .writer::before {
  content: '\1F512';/*자물쇠 */
  font-size: 65%;
}
/* fragment 요소 표시 */
#commentSec :target > .comment {
  border-color: #FF6644;
  border-color: var(--pointCol);
  box-shadow: inset 0 0 5px var(--highlight);
}
#commentSec :target > .comment button {
  border-color: var(--pointCol);
}
.commentList > li {/* rebellion - 배경 깜빡임 효과 무시 */
  background-color: unset !important;
}

/*
댓글or방명록 폼 div.formBox
├비로그인용서식 p.guest
├내용입력란 textarea.commentInput
└div.submitBox
　├귓속말로 input#commentInput_secret
　├label
　└제출버튼 input.commentBtn
*/
#commentSec .formBox {
  max-width: 800px;
  margin-left: auto; margin-right: auto;
}
#commentSec .formBox label {
  display: inline-block;
  margin-top: 10px;
}
#commentSec .guest ,
#commentSec .submitBox {
  margin: 15px 10px;
}
#commentSec .commentInput {
  display: block;
  box-sizing: border-box;
  width: 96%;
  margin-left: auto; margin-right: auto;
  resize: vertical;
}
#commentSec .submitBox {
  text-align: right;
}
#commentSec .commentBtn {
  padding: 10px;
}
#commentSec .listMsg ,
#commentSec .formMsg {
  margin: 40px 0;
  text-align: center;
}


#commentSec.postPage .comment .areaImg {
  position: absolute;
  top: 10px;
  left: 10px;
}
#commentSec.postPage .comment1 img {
  /* 댓글 프사 크기 */
  height: 1.8em;
  width: 1.8em;
}
#commentSec.postPage .comment2 img {
  /* 답글 프사 크기 */
  height: 1.5em;
  width: 1.5em;
}
body#tt-body-guestbook main .areaTitle {
  margin: 30px 0;
  text-align: center;
}

#commentSec.guestPage .comment > .areaImg {
  float: left;
  padding: 4px 8px 8px 4px;
}
#commentSec.guestPage .comment1 > .areaImg img {
  /* 댓글 프사 크기 */
  height: 4em;
  width: 4em;
}
#commentSec.guestPage .comment2 > .areaImg img {
  /* 답글 프사 크기 */
  height: 3.2em;
  width: 3.2em;
}

/**#### 관련글
관련글영역 div.relatedSec
├"카테고리 다른 글" h1.areaTitle
└관련글목록 ul.relatedList ─ li 여럿 ─ a
*/
.relatedList {
  width: 90%;
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 10px;
}
.relatedList > * {
  margin: 10px;
  border-width: 1px;
  border-left-width: 0px;
}
.relatedList > * a {
  display: block;
  padding: 12px;
  border-left: 4px solid #FF6644;
  border-left: 4px solid var(--pointCol);
}

/**#### 비밀글 비밀번호 제출 */
.protectedPassForm {
  text-align: center;
}
.protectedPassForm .submit {
  padding: 10px;
  border-radius: 20px;
}


/**### 글목록 페이지 */
/*
main
├머리부분 div#listHead
├상단잡영역 div#upper
├상단페이징 div#pagingCopy
└목록 div
*/

/**#### 글목록 제목 (카테고리명 등)
머리부분 div#listHead
├제목등 div.titleBox
│├제목 h1.title
│└페이지종류 div.subtitle
│
└꾸밈상자 div.decoBox
　├대표이미지 img
　├카테고리설명 p
　└꾸밈용테이프 span.tape 2개
*/
#listHead {
  margin: 60px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media (max-width: 800px) {/* 좁은 화면에서는 꾸밈상자를 제목 아래에 배치 */
  #listHead .title {
    margin: 50px auto;
  }
  #listHead {
    flex-direction: column;
  }
}
#listHead .titleBox  {/* 제목등 */
  margin: 0 auto;
  text-align: center;
}
#listHead .subtitle {
  margin-top: 15px;
  font-family: 'Gaegu', cursive;
}
#listHead .postNum {
  font-size: 120%;
  color: #FF6644;
  color: var(--pointCol);
  font-family: 'Jua', sans-serif;
}
#listHead .decoBox {/* 꾸밈상자 */
  margin: 20px 50px;
  max-width: 280px;
  padding: 10px;
  box-shadow: 1px 1px 6px #0004;
  background-color: #fdfdfd;
  background-color: var(--listBack);
  transform: rotate(10deg);
  position: relative;
}
#listHead .image {
  display: block;
  margin: 0 auto;
  max-height: 210px;
  max-width: 280px;
  box-sizing: border-box;
  border-width: 2px;
}
#listHead .description {
  margin-top: 10px;
  max-height: 5em;
  background-color: #f4f4f4;
  background-color: var(--listBack);
  overflow: hidden;
  font-size: 0.9rem;
  font-family: 'Gaegu', cursive;
}
#listHead .tape {
  width: 100px; height: 30px;
  transform: rotate(-35deg);
}
#listHead .tape1 {top:    8px;   left: -27px;}
#listHead .tape2 {bottom: 8px;  right: -27px;}

/**#### 글목록과 버튼
목록 div.목록스타일별클래스
├보임새설정 settingForm
│└menu#listStyleBtns
├텅
└목록 ul#postList.목록스타일별클래스(index.xml에서 정의, 사용자가 관리 페이지에서 선택)
*/
/* 보기형식 변경 버튼 */
#listStyleBtns {
  margin-right: 10%;
  margin-bottom: 20px;
  text-align: right;
  font-family: 'Gaegu', cursive;
}
#listStyleBtns button {
  vertical-align: middle;
  padding: 7px;
}
/*
ul#postList ─ li 여럿
├a ─ section.postListItem
│├썸네일 div.thumbnail
││└썸네일 img (있기도 하고 없기도 하고)
││
│├제목등 div.itemHead
││├제목 h2.title
││└카테고리 span.category
││
│└본문등 div.itemBody
│　├본문 span.content
│　└날짜등 span.itemTail
│　　├날짜 span.date
│　　└글쓴이 span.writer
│　
└꾸밈요소 span.tape
*/
#postList > */*li*/ {
  position: relative;
}

  /**##### 크게 한 줄 train */
/* 상단 페이징과 보기형식 변경 버튼을 표시하지 않는다 ???*/
/*#postList.train .paging ,
#listStyleBtns {
  display: none;
}*/
#postList.train > */*li*/ {/* 항목의 바깥쪽 스타일 */
  margin: 80px auto;
  max-width: 900px;
  position: relative;
}
#postList.train > *:first-child {
  margin-top: 40px;
}
#postList.train > */*li*/ > a {/* 항목의 안쪽 스타일 */
  padding: 30px 20px;
  border: 2px solid #8880;
  transition: box-shadow 0.6s linear, background-color 0.6s linear, border-color 0.2s linear;
}
#postList.train > */*li*/ > a:hover {/* 마우스 올린 항목 테두리 테두리 표시 */
  border-color: var(--borderCol);
  background-color: #FFFFFF;
  background-color: var(--backCol);
  box-shadow: 0px 0px 10px #DDDDDD;
  box-shadow: 0px 0px 10px var(--borderCol);/* 그림자 */
  transition-duration: 0s;
}
#postList.train .postListItem > .thumbnail {/* 썸네일 */
  max-height: 100vw;
  overflow: hidden;
}
#postList.train .thumbnail img {/* 썸네일 */
  width: 100%;
  display: block;
  margin: 0 auto;
}
#postList.train .noThumbnail {/* 없는 썸네일 */
  display: none;
}
#postList.train .postListItem > .itemHead {/* 제목등 */
  margin-top: 10px;
  margin-bottom: 22px;
}
#postList.train .title {/* 제목 */
  display: block;
  font-size: 1.8em;
  text-shadow: 1px 1px 3px #FFFFFF;
  text-shadow: 1px 1px 3px var(--backCol);
}
#postList.train .category {
  display: block;
  padding-right: 3%;
  text-align: right;
  font-size: 90%;
}
#postList.train .category::before {
  content: '/';
}
#postList.train .postListItem > .itemBody {/* 본문등 */
  margin-bottom: 22px;
  max-height: 6.6em;/* 본문 크기 제한 */
  overflow: hidden;
}
#postList.train .content {/* 본문 */
  font-family: 'Noto Serif KR', serif;
  font-size: 1.1em;
}
#postList.train .itemTail {/* 날짜등 */
  font-family: 'Gaegu', cursive;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

  /**##### 썸네일만 album */
#postList.album .itemHead ,
#postList.album .category ,
#postList.album .itemBody ,
#postList.album .itemTail ,
#postList.album .tape {
  display: none;
}
#postList.album {
  text-align: center;
}
#postList.album > */*li*/ {
  margin: 1%;
  display: inline-block;
  border: 2px solid #F4F4F4;
  border: 2px solid var(--listBack);
  box-shadow: -1px 2px 5px #DDDDDD;
  box-shadow: -1px 2px 5px var(--borderCol);
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
#postList.album > */*li*/:hover {/* 테두리: 마우스 올렸을 때만 */
  border-color: var(--borderCol);
}
/* 썸네일 */
#postList.album .thumbnail {
  padding: 5px;
  width: 28vw;
  height: 28vw;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  /* 또 고작 아이템 하나 가운데 오게 하겠다고 거창하게 플렉스를 씁니다~~ 그냥 시벌 세로든 가로든 가운데정렬 속성이나 만들어 줄 것이지. 왜 또 크기가 작은 건 가운데 오게 할 수 있지만 똑같은 요소인데 크기가 크면 그게 안되고 시발 css는 아주 좃갔습니다. */
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  #postList.album .thumbnail {
    padding: 1px;
  }
}
#postList.album .thumbnail img {
  height: 100%;
}
#postList.album .itemHead {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  padding: 5px;
  background-color: #0008;
  transition-duration: 2s;
}
#postList.album > */*li*/:hover .itemHead {/* 제목: 마우스 올렸을 때만 나타난다 */
  display: block;
}
#postList.album .itemHead h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 120%;
  font-weight: 600;
  color: white;
}
@media (max-width: 900px) {
  #postList.album .itemHead h2 {
    font-size: 100%;
  }
}

  /**##### 썸네일 및 제목 card */
#postList.card .category ,/* 나머지 요소 숨김 */
#postList.card .writer ,
#postList.card .content {
  display: none;
}
#postList.card {
  text-align: center;
}
#postList.card > */*li*/ {
  display: inline-block;
  vertical-align: middle;
  margin: 40px 12px;/* 간격 */
  box-shadow: 1px 1px 4px #0008;/* 그림자 */
  border-width: 1px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  text-align: left;
}
#postList.card > */*li*/ > */*a*/ {
  padding: 20px 10px;
  box-sizing: content-box;
}
#postList.card .thumbnail {/* 썸네일 경계선 */
  border-width: 1px;
  background-color: #DDDDDD;
  background-color: var(--borderCol);
  overflow: hidden;
}
#postList.card .thumbnail img {/* 썸네일 */
  max-height: 200px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  transition-duration: 0.5s;
}
@media (max-width: 600px) {/* 이유는 모르겠는데 딴데서는 안 그러고 모바일 삼성인터넷에서만 얘 땜에 가로스크롤 생김  */
  #postList.card .thumbnail img {
    max-width: 100%;
  }
}
#postList.card .itemHead {
  margin-top: 5px;
  max-width: 300px;
}
#postList.card .title {
  font-size: 110%;
  font-weight: normal;
}
#postList.card .itemTail {/* 날짜 */
  position: absolute;
  bottom: 1px;
  right: 5px;
  text-align: right;
  font-family: 'Gaegu', cursive;
  font-size: 0.9em;
  line-height: 1;
}
#postList.card > *:nth-child(odd) .tape {/* 테이프 장식 짝수번째 */
  height: 65px;
  width: 35px;
  top: -30px;
  left: 44%;
  transform: rotate(10deg);
}
#postList.card > *:nth-child(even) .tape {/* 테이프 장식 쌍수번째 */
  height: 58px;
  width: 38px;
  top: -24px;
  right: 42%;
  transform: rotate(-6deg);
}
#postList.card > */*li*/:hover .thumbnail img {/* 마우스 올리면 그림 확대 */
  transform: scale(1.1);
}

  /**##### 작은 메모 postit */
#postList.postit {
  width: 94%;
  max-width: 700px;
  margin: 50px auto;
}
#postList.postit .thumbnail ,/* 나머지 요소 숨김 */
#postList.postit .content ,
#postList.postit .writer {
  display: none;
}
#postList.postit > */*li*/ {
  margin: 15px auto;/* 간격 */
  box-shadow: 1px 1px 7px #DDDDDD;/* 그림자 */
  box-shadow: 1px 1px 7px var(--borderCol);/* 그림자 */
  position: relative;/* 날짜 위치잡기용 */
  background-color: #FFFFFF;
  background-color: var(--backCol);
}
#postList.postit .tape {/* 왼쪽장식 */
  width: 12px;
  height: 100%;
  top: 0px;
  left: -10px;
  border-width: 0px;
  transition-duration: 0.5s;
}
#postList.postit > :hover .tape {/* 마우스 올린 항목 장식 늘어남 */
  width: 52px;
  left: -50px;
  transition-duration: 0.1s;
}
#postList.postit > */*li*/ > */*a*/ {
  padding: 20px 10px;
}
/* 왼쪽장식 무지개 색 */
#postList.postit > :nth-child(8n+1) .tape {background-color: hsl(8,   100%, 60%, 50%);}
#postList.postit > :nth-child(8n+2) .tape {background-color: hsl(38,  100%, 50%, 50%);}
#postList.postit > :nth-child(8n+3) .tape {background-color: hsl(58,  100%, 44%, 50%);}
#postList.postit > :nth-child(8n+4) .tape {background-color: hsl(90,   95%, 45%, 50%);}
#postList.postit > :nth-child(8n+5) .tape {background-color: hsl(185,  90%, 45%, 50%);}
#postList.postit > :nth-child(8n+6) .tape {background-color: hsl(230,  80%, 65%, 50%);}
#postList.postit > :nth-child(8n+7) .tape {background-color: hsl(270,  90%, 55%, 50%);}
#postList.postit > :nth-child(8n)   .tape {background-color: hsl(305,  90%, 50%, 50%);}
#postList.postit .title {/* 제목 */
  display: inline;
  font-size: 120%;
  font-weight: normal;
  font-family: 'Noto Serif KR', serif;
}
#postList.postit .category {/* 카테고리 */
  font-family: 'Gaegu', cursive;
  font-size: 90%;
}
#postList.postit .category::before {
  content: '~';
}
#postList.postit .itemTail {/* 날짜 위치: 바닥 오른쪽 */
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 0.8em;/* 날짜 작게 */
}

  /**##### 복잡 목록 detailed */
#postList.detailed > */*li*/ {
  margin: 10px 0;
  border-bottom-width: 3px;
  border-bottom-style: double;
}
#postList.detailed > */*li*/ > */*a*/ {
  padding: 19px 10px;
  min-height: 98px;
}
#postList.detailed .thumbnail ,/* 줄줄이 다 inline */
#postList.detailed .itemHead , 
#postList.detailed .title , 
#postList.detailed .itemBody {
  display: inline;
}
#postList.detailed .thumbnail {/* 썸네일 */
  display: inline-block;
  padding: 2px 10px;
  float: left;
}
#postList.detailed .thumbnail img {
  height: 6em;
  max-width: 180px;
}
#postList.detailed .noThumbnail {
  display: none;
}
#postList.detailed .title {
  text-shadow: 1px 1px 3px #FFFFFF;
  text-shadow: 1px 1px 3px var(--backCol);
}
#postList.detailed .category::before {
  content: '\007E';/* ~ */
}
#postList.detailed .itemTail {
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
#postList.detailed .category ,
#postList.detailed .date ,
#postList.detailed .writer {
  font-family: 'Gaegu', cursive;
  font-size: 0.8em;
  margin: 0px 10px;
}


#postList-empty {
  padding: 125px 0;
  text-align: center;
  font-size: 150%;
}

#postList .content {
  line-height: 1.6;
}


/**### 태그 페이지 */
/* 태그 클래스별 스타일은 랜덤태그 모듈과 같은 스타일 */
#tagBox {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.9;
  font-weight: 400;
}
#tagBox li {
  display: inline-block;
}
#tagBox a {
  margin: 10px;
}
#tagBox a::before {
  content: '#';
  color: #DDDDDD;
  color: var(--borderCol);
}
#tagBox .tagcloud1 {
  font-size: 180%;
  color: #FF6644;
  color: var(--pointCol);
}
#tagBox .tagcloud2 {
  font-size: 180%;
}
#tagBox .tagcloud3 {
  font-size: 150%;
}
#tagBox .tagcloud4 ,
#tagBox .tagcloud5 {
  display: none;
}

#tagChosongsBoxOuter {
  position: sticky;
  top: -16px;
  z-index: 1;
  text-align: center;
}
#tagChosongsBox {
  position: relative;
  bottom: -16px;
}
#tagChosongsBox button {
  padding: 3px 4px;
  margin: 3px;
  min-width: 24px;
}

#main4.tagBoxOrdered {
  font-size: 135%;/* 모듈에서보단 좀 크게 보이기 */
  font-weight: 400;
}
#main4.tagBoxOrdered .bucket {
  margin-bottom: 20px;
  padding: 0 20px;
}
#main4.tagBoxOrdered h4 {
  padding-top: 60px;
  font-size: 200%;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  font-family: 'Noto Serif KR', serif;
}
#main4.tagBoxOrdered .list {
  padding: 10px;
  list-style: disc;
  color: #000000;
  color: var(--bonmunTextCol);
}
#main4.tagBoxOrdered li {
  margin: 10px;
}
#main4.tagBoxOrdered li::first-letter {
  color: var(--pointCol);
}






/* [티스토리] 스타일 덮어쓰기 */

/* 첨부파일 */
figure.fileblock, #tt-body-page figure.fileblock {
  border: 1px solid var(--borderCol);
  border-right-width: 0px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
}
figure.fileblock a, #tt-body-page figure.fileblock a {
  border-right: 8px solid #66AA00;
  border-right: 8px solid var(--bonmunActing);
}
figure.fileblock .filename, #tt-body-page figure.fileblock .filename {
  color: #000000;
  color: var(--bonmunTextCol);
}
figure.fileblock a::after, #tt-body-page figure.fileblock a::after {/* 다운로드 아이콘 */
  background-image: unset;
}
figure.fileblock .image, #tt-body-page figure.fileblock .image {/* 첨부파일 아이콘 */
  background-image: url('./images/bonmun-file.png');
  background-size: 30px 30px;
}


/* 네임카드 */
.tt_box_namecard {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 500px;
  min-height: 160px;
  background-color: #F4F4F4;
  background-color: var(--listBack);
  color: #666666;
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_tit_cont {
  color: #666666;
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_btn_subscribe .tt_txt_g {
  color: #666666;
  color: var(--baseTextCol);
}
.tt_box_namecard .tt_btn_subscribe .tt_txt_g::after {
  content: " +";
}
.tt_img_area_reply {
  display: none;
}

/* 미친 */
.adsbygoogle {
  display: none !important;
}

#skin-version:not(.v26-02-08-182416)::after {
  color: #eb0;
  content: "v26-02-08-182416";
}