<!doctype html>
<html lang="ko" style="background-color: black;">
<head>
<title>[##_page_title_##] :: [##_title_##]</title>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">

<!-- STYLE -->
<link rel="stylesheet" type='text/css' href="./style.css">
<!-- 사용자 지정 색 -->
<style>{% include "style/color-scheme/color-scheme.css" %}</style>


<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>
//{% include "skin-comps/init-html.js" %}
//{% include "skin-comps/component_templates/copy.js" %}
//{% include "skin-comps/component_templates/close-onclick-outside.js" %}
//{% include "skin-comps/component_templates/open-toggle.js" %}
</script>

</head>


<body id="[##_body_id_##]"><s_t3>
<script>
//{% include "skin-comps/init-body.js" %}
//{% include "inblog-settings/darkmode-body.js" %}
//{% include "inblog-settings/script.js" %}
</script>

{% include "skin-comps/frame/background.html" %}

{% include "skin-comps/world2/main.html"%}

{% include "skin-comps/frame/header.html" %}

{% include "skin-comps/frame/totop.html" %}

<div id="mainV">

  <!-- mainHBox-mainH 이중으로 된 이유: (스타일) mainHBox: 좌우 사이드바 상태에 따라 좌우 여백 / mainH: Box 안에서 가운데로 -->
  <div id="mainHBox"><div id="mainH">

{% include "skin-comps/frame/upperbar.html" %}

{% include "skin-comps/최근공지/_.html" %}

    <!--### 메인 -->
    <main id="main">
{% include "skin-comps/main/홈커버/main.html" %}
{% include "skin-comps/main/페이지페이지.html" %}
{% include "skin-comps/main/게시글/공지페이지.html" %}
{% include "skin-comps/main/게시글/main.html" %}
{% include "skin-comps/main/리스트/main.html" %}
{% include "skin-comps/main/태그페이지/main.html" %}
{% include "skin-comps/main/댓글과방명록/방명록.html" %}
{% include "skin-comps/main/페이징/_.html" %}

    </main><!-- 메인 ###-->

    <!--### 하단 광고 -->
    <div id="under">[##_revenue_list_lower_##]</div>

  </div></div>
{% include "skin-comps/sidebars/sidebar1.html" %}
{% include "skin-comps/sidebars/sidebar2.html" %}
</div>

{% include "skin-comps/sidebars/sidebar3.html" %}

{% include "skin-comps/frame/footer.html" %}

<script>
//{% include "skin-comps/main/게시글/bonmun.js" %}

//{% include "skin-comps/sidebars/sidebars.js" %}

//{% include "skin-comps/component_templates/totop.js" %}

//{% include "skin-comps/component_templates/blogLinks-logo.js" %}

//// 광고차단 확인
function isAdBlocking(){
  let ad = document.getElementsByClassName('revenue_unit_wrap')[0];
  if( getComputedStyle(ad).display === 'none' )
    return true;
  return false;
}
</script>

</s_t3></body>
</html>
